body {
  background: #f8fafc;

  color: #1f2937;

  font-family: "Poppins", sans-serif;

  line-height: 1.8;

  margin: 0;

  padding: 0;
}

main {
  max-width: 1500px;

  margin: 60px auto;

  padding: 0 5%;
}

.ws_hero {
  text-align: center;

  padding: 70px 10% 60px;

  background: linear-gradient(to bottom, #ffffff, #f8fafc);

  border-bottom: 2px solid #e5e7eb;
}
.ws_hero h1 {
  font-family: "Orbitron", sans-serif;

  font-size: 52px;

  color: #111827;

  margin-bottom: 20px;
}
.ws_hero p {
  max-width: 750px;

  margin: auto;

  font-size: 18px;

  color: #6b7280;
}
.ws_section {
  background: white;

  padding: 45px;

  margin-bottom: 35px;

  border-radius: 20px;

  border: 1px solid #e5e7eb;

  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.06);
}

.ws_section h2 {
  font-family: "Orbitron", sans-serif;

  font-size: 36px;

  color: #111827;

  padding-bottom: 12px;

  border-bottom: 3px solid cyan;

  margin-bottom: 30px;
}
.ws_section p {
  font-size: 18px;

  color: #374151;

  text-align: justify;
}
.ws_section h3 {
  /* color: #0891b2; */
  /* color: #2563eb; */

  color: #1d4ed8;
  font-size: 24px;

  margin-top: 30px;

  margin-bottom: 15px;
}
.ws_section li {
  color: #374151;

  margin-bottom: 10px;
}
figure {
  margin: 45px auto;

  display: flex;

  flex-direction: column;

  align-items: center;
}

figure img {
  width: 100%;

  max-width: 900px;

  height: auto;

  border-radius: 15px;

  border: 1px solid #d1d5db;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
figcaption {
  color: #6b7280;

  font-style: italic;

  margin-top: 15px;
}
.equation {
  margin: 35px 0;

  padding: 22px;

  background: #f0fdff;

  border-left: 5px solid cyan;

  border-radius: 10px;

  text-align: center;
}
.equation p {
  font-size: 28px;

  color: #111827;
}
